fastapi
uvicorn
pydantic
ollama>=0.1.27
icalendar
pytz
reportlab
whisper
ffmpeg
gkeepapi
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
transformers